.container {
  /* border: 2px solid black; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  /* border: 2px solid red; */
  width: 100%;
  height: 25px; /* gives space for text or buttons */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.body {
  /* border: 2px solid red; */
  width: 100%;
  flex: 1; /* fills remaining vertical space */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  /* gap: 20px; */
  margin: 5px 0;
  box-sizing: border-box;
}

.header a,
.body a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header a:hover,
.body a:hover {
  color: crimson;
}




.c1 {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(181, 197, 197);
}

