.container {
    height: 700px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    padding:2px;
    flex-direction: row; /* Arrange children horizontally (left to right) */
    justify-content: space-between; /* Spread items across the container with equal space between */
    align-items: center; /* Center items vertically within the container */
}

.Con,
.Plang,
.database,
.dev,
.tools {
    flex: 0.2; 
    width: 98%; 
    height:680px;
    display: flex;
    flex-direction: column; 
    /* justify-content: center;  */
    margin: 2px auto; 
    padding:5px;
    border-right: 2px solid black; 
}
a{
  text-decoration: none;  
}
