.container {
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    /* align-items: center; */
    align-content: center;
    flex-direction: column;
}

.header {
    flex: 0 0 3vh; /* fixed header height */
    width: 98%;
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;
    gap: 40px;  /* custom space between buttons (change value as you like) */
    margin-top: 20px;
    margin: 2px auto;
    /* border: 2px solid red; */
}
/* .header button {
    padding: 10px 20px;
    border: 2px solid black;
    background: lightblue;
    cursor: pointer;
} */
 

.body {
    flex: 0.95; 
    width: 98%;
    display:flex;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: center;
    margin: 2px auto;
    /* border: 2px solid blue; */
}
/* .img{
    align-items: center;
    align-content: center;
} */

.footer {
    flex: 0 0 3vh; /* fixed header height */
    width: 98%;
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;
    gap: 40px;  /* custom space between buttons (change value as you like) */
    margin-top: 20px;
    margin: 2px auto;
    /* border: 2px solid red; */
}
a{
    text-decoration: none;
    color: brown;
}